$nav-links-color: hsl(257, 7%, 63%);
$nav-links-hover-color: hsl(257, 27%, 26%);
$btn-bg-color: hsl(180, 66%, 49%);
$btn-hover-bg-color: hsl(180, 60%, 72%);
$purpel-color: hsl(257, 27%, 26%);

@mixin astyle {
  text-decoration: none;
  color: $nav-links-color;
  margin: 0 1rem;
  &:hover {
    color: $nav-links-hover-color;
  }
}

header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 6rem;

  .hamburger-menu {
    display: none;
  }

  a {
    @include astyle();
  }

  .logo a {
    margin: 0 3rem 0 0;
  }

  .nav-bar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    ul {
      list-style-type: none;
      display: flex;
    }
    .signIn-up-container {
      .signup {
        background-color: $btn-bg-color;
        padding: 0.5rem 1.2rem;
        border-radius: 20px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        &:hover {
          background-color: $btn-hover-bg-color;
          color: white;
        }
      }
    }
  }
}

.backDrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
}

.loadingCircel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%), translateY(-50%);
  width: 50px;
  height: 50px;
  z-index: 101;
  border: 6px solid transparent;
  border-top: 6px solid $btn-bg-color;
  border-radius: 50%;
  animation: loading 1s infinite linear;
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 928px) {
  header {
    
    padding: 0 4rem;
    flex-direction: column;
    .hamburger-menu {
      display: block;
      position: absolute;
      right: 6rem;
      cursor: pointer;
      div {
        width: 50px;
        height: 6px;
        background-color: $nav-links-color;
        margin: 10px 0;
      }
    }

    .logo {
      align-self: start;
      margin-top: 1rem;
    }

    .nav-bar-container {
      transform: translateY(0%);
      visibility: hidden;
    }

    .nav-bar-container.active {
      transform: translateY(20%);
      transition: 0.5s;
      visibility: visible;
      flex-direction: column;
      background-color: $purpel-color;
      border-radius: 10px;
      padding: 1rem 0;
      ul {
        flex-direction: column;
        text-align: center;

        li {
          margin: 1rem 0;
          a {
            color: white;
          }
        }
      }
      .signIn-up-container {
        text-align: center;

        a {
          margin: 1rem auto;
          color: white;
        }
        .signup {
          display: block;
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: 928px) {
  header {
    padding: 0 2rem;

    .hamburger-menu {
      right: 2rem;
    }
  }
}
