$btn-bg-color: hsl(180, 66%, 49%);
$p-color: hsl(257, 7%, 63%);
$btn-hover-bg-color: hsl(180, 60%, 72%);
$feature-section-bg-color: hsl(0, 0%, 90%);
$purpel-color: hsl(257, 27%, 26%);
$error-color: hsl(0, 87%, 67%);

@mixin astyle {
  background-color: $btn-bg-color;
  color: white;
  text-decoration: none;
  &:hover {
    background-color: $btn-hover-bg-color;
    color: white;
  }
}

@mixin feature-card {
  position: relative;
  z-index: 1;
  background-color: white;
  border-radius: 6px;
  padding: 2rem;
  height: 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  .img-container {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $purpel-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -15%;
  }

  &:hover {
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
  }
}

// CTA Section
.cta-section {
  display: flex;
  margin: 5rem 0;
  padding: 0 0 0 6rem;
  overflow-x: hidden;
  .desc {
    flex: 1;
    width: 0;
    padding: 4rem 0;

    span {
      display: block;
    }

    h1 {
      font-size: 4.5rem;
    }
    p {
      margin-bottom: 3rem;
      color: $p-color;
    }

    .cta-btn {
      padding: 0.8rem 1.8rem;
      border-radius: 20px;
      @include astyle();
    }
  }
  .illustration-img {
    flex: 1;
    width: 0;
  }
}

// Short Link Section
.short-link {
  position: relative;
  height: 10.5rem;
  margin: 3rem 8rem 0 8rem;
  .short-link__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    height: 100%;
    border-radius: 10px;
    background-image: url("../images/bg-shorten-desktop.svg");
    background-repeat: no-repeat;
    background-color: $purpel-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
      width: 60%;
      position: relative;
      input {
        padding: 1.3rem 1rem;
        border-radius: 8px;
        outline: none;
        border: none;
        width: 100%;

        &::placeholder {
          font-family: "Poppins", sans-serif;
          font-size: 1rem;
        }
      }
      input.error {
        border: 3px solid hsl(0, 87%, 67%);
      }

      .error-msg {
        display: none;
        position: absolute;
        bottom: -30px;
        color: hsl(0, 87%, 67%);
      }

      .error-msg.active {
        display: block;
      }
    }
    a {
      padding: 1rem 2rem;
      border-radius: 8px;
      @include astyle();
      cursor: pointer;
    }
  }
}

// Feature Section
.features {
  padding: 12rem 0 3rem 0;
  background-color: $feature-section-bg-color;

  // shorten Link History
  .shorten-link-history {
    margin: 1rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    background-color: white;
    border-radius: 8px;
    #original-url {
      color: black;
    }
    div {
      display: flex;
      align-items: center;

      .shorten-url {
        color: $btn-bg-color;
      }
      a {
        @include astyle();
        padding: 0.8rem 2.5rem;
        margin-left: 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  h1 {
    text-align: center;
    margin: 3rem 0 1rem 0;
  }
  span {
    display: block;
  }
  p {
    text-align: center;
    color: $p-color;
  }
  .card-container {
    position: relative;
    margin: 5rem 6rem;
    display: flex;

    .feature-card-first {
      @include feature-card();
    }

    .feature-card-seconde {
      @include feature-card();
      margin: 4rem 1.5rem 0 1.5rem;
    }

    .feature-card-third {
      @include feature-card();
      margin-top: 8rem;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      height: 0.8rem;
      background-color: hsl(180, 66%, 49%);
    }

    h2 {
      margin-top: 2.5rem;
      text-align: left;
    }
    p {
      text-align: left;
    }
  }
}

// Get Started Section
.get-started-section {
  padding: 3rem;
  background-image: url("../images//bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-color: $purpel-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  a {
    padding: 1rem 2rem;
    border-radius: 20px;
    @include astyle();
  }
}

@media (max-width: 1178px) {
  // CTA Section
  .cta-section {
    .desc {
      h1 {
        font-size: 4rem;
      }
    }
  }

  // Feature Section
  .features {
    // shorten Link History
    .shorten-link-history {
      margin: 1rem 2rem;
      flex-direction: column;
      padding: 0 1rem;

      #original-url {
        width: 100%;
        padding: 1rem;
        font-size: 20px;
        border-bottom: 1px solid;
      }

      div {
        width: 100%;
        flex-direction: column;

        .shorten-url {
          padding: 0.5rem 0;
          font-size: 20px;
        }
        a {
          width: 100%;
          padding: 0.5rem;
          margin: 1rem 0;
          text-align: center;
        }
      }
    }
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
}

@media (max-width: 1060px) {
  // CTA Section
  .cta-section {
    .desc {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 15px;
      }
    }
  }

  // Feature Section
  .features {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 928px) {
  // CTA Section
  .cta-section {
    flex-direction: column;
    padding: 0;
    .desc {
      order: 2;
      width: 100%;
      text-align: center;
      h1 {
        font-size: 4.5rem;
      }
    }
    .illustration-img {
      order: 1;
      width: 100%;
      text-align: center;
      margin-top: 2rem;
      img {
        width: 80%;
      }
    }
  }

  // Short Link Section
  .short-link {
    height: 12rem;
    margin: 3rem 1rem 0 1rem;
    .short-link__container {
      flex-direction: column;
      div {
        width: 90%;
      }
      a {
        margin-top: 1rem;
      }
    }
  }

  // Feature Section
  .features {
    .card-container {
      flex-direction: column;
      margin: 5rem 3rem;

      .feature-card-first {
        .img-container {
          transform: translateX(-50%);
          left: 50%;
        }
      }

      .feature-card-seconde {
        margin: 8rem 0;
        .img-container {
          transform: translateX(-50%);
          left: 50%;
        }
      }

      .feature-card-third {
        margin-top: 0;
        .img-container {
          transform: translateX(-50%);
          left: 50%;
        }
      }
      &::after {
        top: 0;
        bottom: 0;
        left: 50%;
        width: 0.8rem;
        height: 100%;
      }
    }
  }

  // Get Started Section
  .get-started-section {
    text-align: center;
  }
}

@media (max-width: 550px) {
  // CTA Section
  .cta-section {
    .desc {
      h1 {
        font-size: 3rem;
      }
    }
  }
}
